name: tugasakhir
description: "A new Flutter project."

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.4.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8

  # PAKET FIREBASE
  firebase_core: ^3.1.1
  firebase_auth: ^5.1.1
  cloud_firestore: ^5.0.2
  
  # PAKET BARU UNTUK GAMBAR (biarkan saja untuk nanti)
  firebase_storage: ^12.1.0
  image_picker: ^1.1.2

  # --- PAKET BARU DITAMBAHKAN DI SINI ---
  intl: ^0.19.0

  flutter_rating_bar: ^4.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
